@model BottomsSup.Models.Tokens

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tokens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TokenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TokenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TokenPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TokenPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TokenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
