@model IEnumerable<BottomsSup.Models.Bar>

@{
    ViewBag.Title = "ClientBarList";
}

<h2>ClientBarList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.BarName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Address)
            </td>
            <td>
                @Html.DisplayFor(model => item.City)
            </td>
            <td>
                @Html.DisplayFor(model => item.State)
            </td>
            <td>
                @Html.DisplayFor(model => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(model => item.PhoneNumber)
 
            <td>

                @Html.ActionLink("Details", "ClientsBarView", new { id = item.BarId })
            </td>
        </tr>
    }

</table>

