@model BottomsSup.Models.Bar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4> Bar Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Close)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Close)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrinkList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrinkList)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BarId }) |
    @Html.ActionLink("Back to List", "Index")|
    @Html.ActionLink("Cash in Tokens", "CashIn", new { id = Model.BarId })|
    @Html.ActionLink("Record Sales", "Create", "Sales")|
    @Html.ActionLink("View Sales Records", "Details", "Sales")|
    @Html.ActionLink("View Sales chart", "Dashboard", "Sales") |
    @Html.ActionLink("Compare Sales", "CompareSales", "Sales")
</p>

