@model IEnumerable<BottomsSup.Models.Client>



@{
    ViewBag.Title = "BarFlyList";
}

<h2>BarFlyList</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.DateOfBirth)
            </td>


            <td>

                @Html.ActionLink("Send Token", "SendToken", new { id = item.ClientId }) |
                @Html.ActionLink("Add Friend", "AddFriend", new { id = item.ClientId }) |
            </td>
        </tr>
    }

