@model IEnumerable<BottomsSup.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friends)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Friends)
            </td>
          
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClientId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
            </td>
        </tr>
    }

</table>

